<div class="chat-window">
    <div
      class="chat-header"
      [ngStyle]="{
        'background-color': userID === 1 ? 'green' : 'yellow'
      }"
    >
      <div class="chat-info">
        <h4 *ngIf="userID === 1">Monica</h4>
        <h4 *ngIf="userID === 2">Selena</h4>
        
      </div>
    </div>
    <div class="chat-page">
      <div class="msg-inbox">
        <div class="msg-appear">
          <div
            *ngFor="let message of messages" 
            class="msg"
            [ngClass]="{
              receiver: message.userID === userID,
              sender: message.userID !== userID
            }"
          >
            <p>{{ message.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="msg-bottom">
      <form [formGroup]="form" class="input-group">
        <input
          input
          type="text"
          formControlName="message"
          placeholder="write new message"
        />
        <div class="send-box">
          <button (click)="displayMessages()" class="submit">Send</button>
        </div>
      </form>
    </div>
  